@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Theme */
:root {
  --foreground-rgb: 33, 33, 33;       /* dark gray text */
  --background-start-rgb: 245, 245, 245; /* light gray */
  --background-end-rgb: 255, 255, 255;   /* white */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
  min-height: 100vh;
  font-family: 'Inter', sans-serif; /* optional, clean font */
}